<% title 'Editing Query' %>

<%= render 'form' %>

<ul><li><%= link_to 'Show', channel_feed_path(@channel, @feed) %></ul></li>
<ul><li><%= link_to 'Back To Channel', channel_path(@channel) %></ul></li>
