

/* group videopost */
td.videopost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
  width: 40%;  /* 40%   */
  color: #666;    /* 666 */
}
span.description {
  display: block;
  vertical-align: top;
  font-size: 85%;  /* 85% */
  color: #666;    /* 666 */
  overflow: hidden;
   /*     background-color: #ffd;  yellow*/
  /*float: left;*/
}
span.videoid {
  display: block;
  font-size: 75%; /* 45%*/
  color: #111;  
  float: right;
}
span.timestamp {
  /* float: right; */
  text-align: right;
  width: 20%;
  float: left;
}




/* line 531, ../scss/include/_skeleton.scss */
#jqt ul.li.arrow individual2 {
  font-size: 14px;
  text-align: left;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 48%; */
  width: 80%;
  float: right;
  display: block;
  padding: 11px 10px 14px 10px;
}
/* line 541, ../scss/include/_skeleton.scss */
#jqt ul.li.arrow individual2 individual2 {
  /* float: right; */
  text-align: right;
  width: 20%;
  float: left;
}

/* line 525, ../scss/include/_skeleton.scss */
#jqt2 ul.videoguide {
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
}
/* line 531, ../scss/include/_skeleton.scss */
#jqt2 ul.videoguide li {
  font-size: 14px;
  text-align: left;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 48%; */
  width: 10%;
  float: left;
  display: block;
  /* padding: 11px 10px 14px 10px; */
}
/* line 541, ../scss/include/_skeleton.scss */
#jqt2 ul.videoguide li + li {
  /* float: right; */
  text-align: right;
  width: 20%;
  float: left;
}

			#videoguide123 {
				position: relative;
font-size: 40px;  
float: left;
  display: block;
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
			}



			/*Begin Customization Here*/
			.videoguide-title{
				border-bottom: 0px solid #333333;
			}
			span.videoguide-title{
				color: #fff;
				width: 50%;
				display: block;
				padding-bottom: 1px;/*10px*/
			}
			.post-title{
				font-size: 16px; /*12px*/
				margin-left: 90px; /* 75px */
			}
			.post-description{
				/*font-size: 11px; 12px*/
				margin-left: 90px; /* 75px */
/* color: #55f; */
  display: block;
  vertical-align: top;
  font-size: 65%;  /* 85% */
  color: #666;    /* 666 */
  overflow: hidden;
  
			}
			.post-videoid{
				margin-bottom: 10px;  /*3px*/
                                font-size: 10px; /*12px*/
				margin-left: 90px; /* 75px */
color: #797;
			}
			.post, .page-videoid{
				font-size: 13px;
				color: #fff;
				margin-bottom: 1px;/* 5px*/
			}

			#videoguide123 ui{
				position: relative;
font-size: 40px;  
float: left;
  display: block;
  border: 0;
  background: none;
  clear: both;
  overflow: hidden;
color: #111;
			}
			#videoguide123 .rounded li{
				position: relative;
margin-top: 0px; /*25px*/
color: #199;
			}
			.month{
				position: absolute;
				width: 70px;
				text-align: center;
				background: #aa3939;
				color: #f5f2f2;
				line-height: 28px;
				padding-bottom: 5px;
				border-top-left-radius: 1px;/* 4px*/
				border-top-right-radius: 1px;
			}
			.videoimage{
				position: absolute;
				width: 90px;  /* 70px*/
				margin-top: 0px; /*25px*/
				font-size: 40px; /* 40px*/
				text-align: center;
				background: #f5f2f2;
				border-bottom-left-radius: 1px;/*4px*/
				border-bottom-right-radius: 1px;/*4px*/
			}





.channel-image{
	position: absolute;
	width: 70px;  /* 70px */
	height: 50px;  /* 50px */
	margin-top: 0px; /*25px*/
	font-size: 50px; /* 40px*/
	text-align: center;
	background: #f5f2f2;
	border-bottom-left-radius: 1px;/*4px*/
	border-bottom-right-radius: 1px;/*4px*/
}
.post-channeltitle{
	font-size: 19px; /*12px*/
	margin-left: 80px; /* 75px */
}
.post-channelid{
	margin-bottom: 1px;  /*3px*/
        font-size: 11px; /*12px*/
	margin-left: 80px; /* 75px */
        color: #797;
}
.post-channelid2{
	margin-bottom: 1px;  /*3px*/
        font-size: 12px; /*12px*/
	margin-left: 80px; /* 75px */
        color: #755;
}
.post-channelid3{
	margin-bottom: 1px;  /*3px*/
        font-size: 12px; /*12px*/
	margin-left: 80px; /* 75px */
        color: #454;
}


